# 🦎 Komodo Deployment 🦎

COMPOSE_KOMODO_IMAGE_TAG={{ docker_komodo_core_version }}
COMPOSE_MONGO_IMAGE_TAG={{ docker_komodo_mongo_version }}
COMPOSE_KOMODO_BACKUPS_PATH=/etc/komodo/backups

## DB credentials
KOMODO_DB_USERNAME=admin
KOMODO_DB_PASSWORD={{ komodo_db_password }}

## Configure a secure passkey to authenticate between Core / Periphery.
KOMODO_PASSKEY={{ komodo_core_passkey }}

## Set your time zone for schedules
## https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ={{ TZ }}

#=-------------------------=#
#= Komodo Core Environment =#
#=-------------------------=#

## 🦎 https://github.com/moghtech/komodo/blob/main/config/core.config.toml 🦎


KOMODO_HOST=https://komodo.local.buckydev.com
KOMODO_TITLE=Komodo


## Make all buttons just double-click, rather than the full confirmation dialog.
KOMODO_DISABLE_CONFIRM_DIALOG=false

## Rate Komodo polls your servers for status / container status / system stats / alerting.
KOMODO_MONITORING_INTERVAL="15-sec"
## Interval at which to poll Resources for any updates / automated actions.
KOMODO_RESOURCE_POLL_INTERVAL="1-hr"

## Used to auth incoming webhooks. Alt: KOMODO_WEBHOOK_SECRET_FILE
KOMODO_WEBHOOK_SECRET={{ komodo_core_webhook_secret }}

KOMODO_JWT_SECRET={{ komodo_core_jwt_secret}}
## Time to live for jwt tokens.
KOMODO_JWT_TTL="3-day"

## Enable login with username + password.
KOMODO_LOCAL_AUTH=true
KOMODO_DISABLE_USER_REGISTRATION=false
KOMODO_ENABLE_NEW_USERS=false
KOMODO_DISABLE_NON_ADMIN_CREATE=false
KOMODO_TRANSPARENT_MODE=false

KOMODO_LOGGING_PRETTY=false
KOMODO_PRETTY_STARTUP_CONFIG=false

## OIDC Login
KOMODO_OIDC_ENABLED=false
