APP_URL=https://auth.{{ traefik_root_domain }}
TRUST_PROXY=true
DB_PROVIDER=sqlite
DB_CONNECTION_STRING=file:data/pocket-id.db?_pragma=journal_mode(WAL)&_pragma=busy_timeout(2500)&_txlock=immediate
ENCRYPTION_KEY={{ pocketid_encryption_key }}
KEYS_STORAGE=file
ANALYTICS_DISABLED=true


# Configure metrics
METRICS_ENABLED=true
OTEL_METRICS_EXPORTER=prometheus