[providers.file]
    directory = "/etc/traefik/conf.d/"
    watch = true

[entryPoints]
    [entryPoints.web]
        address = ":80"
        [entryPoints.web.http.redirections]
            [entryPoints.web.http.redirections.entryPoint]
                to = "websecure"
                scheme = "https"

    [entryPoints.websecure]
        address = ":443"
        asDefault = true
        [entryPoints.websecure.http.tls]
            certResolver = "cloudflare"
            [[entryPoints.websecure.http.tls.domains]]
                main = "{{ traefik_root_domain }}"
                sans = ["*.{{ traefik_local_domain }}", "*.{{ traefik_jellystack_domain }}", "auth.{{ traefik_root_domain }}"]

    [entryPoints.websecureexternal]
        address = ":8443"
        [entryPoints.websecureexternal.http.tls]
            certResolver = "cloudflare"


[certificatesResolvers.cloudflare.acme]
    email = "{{ traefik_email }}"
    storage = "/etc/traefik/ssl/cf_acme.json"
    [certificatesResolvers.cloudflare.acme.dnsChallenge]
        provider = "cloudflare"
        resolvers = ["1.1.1.1:53","1.0.0.1:53"]

[log]
    filepath = "/var/log/traefik/traefik.log"
    format = "common"
    level = "INFO"

[accessLog]
    filepath = "/var/log/traefik/access.log"
    format = "common"
    bufferingSize = 30
    [accessLog.filters]
        statusCodes = ["200", "300-302"]
        retryAttempts = true
        minDuration = "10ms"

[api]

# Permit services to use https
[serversTransport]
  insecureSkipVerify = true


# OIDC Auth Plugin
[experimental.plugins.traefik-oidc-auth]
  moduleName = "github.com/sevensolutions/traefik-oidc-auth"
  version = "v0.15.0"