NODE_ENV=production
SERVER_VERSION={{ karakeep_version }}
NEXTAUTH_SECRET="{{ karakeep_secret_key }}"
NEXTAUTH_URL="http://localhost:3000"
DATA_DIR={{ karakeep_data }}
MEILI_ADDR="http://127.0.0.1:7700"
MEILI_MASTER_KEY="{{ meiliseach_master_key }}"
BROWSER_WEB_URL="http://127.0.0.1:9222"
OPENAI_API_KEY="{{ openai_api_key }}"
