env = "production"
master_key = "{{ meiliseach_master_key }}"
db_path = "{{ meilisearch_data }}/data"
dump_dir = "{{ meilisearch_data }}/dumps"
snapshot_dir = "{{ meilisearch_data }}/snapshots"
no_analytics = true