[http.services]
{% for service in services.external %}
    [http.services.{{ service.service }}.loadBalancer]
        [[http.services.{{ service.service }}.loadBalancer.servers]]
            url = "{{ service.url }}"

{% endfor %}

[http.routers]
{% for service in services.external %}
    [http.routers.{{service.service}}]
        entryPoints = ["websecureexternal"]
        rule = "{{ service.rule }}"
        service = "{{ service.service }}"
    {% if service.middlewares is not none %}
    middlewares = {{service.middlewares|tojson}}
    {% endif %}

{% endfor %}
[http.middlewares]
    [http.middlewares.jellyfin-mw.headers]
        STSSeconds = 315360000
        STSIncludeSubdomains = true
        STSPreload = true
        contentTypeNosniff = true
        customFrameOptionsValue = "SAMEORIGIN"

    [http.middlewares.jellyfin-mw.headers.customRequestHeaders]
        X-Robots-Tag = "noindex,nofollow,nosnippet,noarchive,notranslate,noimageindex"
