[http.services]
{% for service in services.local %}
    [http.services.{{ service.service }}.loadBalancer]
        [[http.services.{{ service.service }}.loadBalancer.servers]]
            url = "{{ service.url }}"

{% endfor %}

[http.routers]
{% for service in services.local %}
    [http.routers.{{service.service}}]
        rule = "{{ service.rule }}"
        service = "{{ service.service }}"
    {% if service.middlewares is not none %}
    middlewares = {{service.middlewares|tojson}}
    {% endif %}

{% endfor %}
[http.middlewares]
    [http.middlewares.pihole-redirect.redirectRegex]
        regex = "^https?://(.*\\.com)/?$"
        replacement = "https://${1}/admin"


    # See docs for reference:
    # https://traefik-oidc-auth.sevensolutions.cc/docs/identity-providers/pocket-id
    [http.middlewares.oidc-auth.plugin.traefik-oidc-auth]
        Scopes = [ "openid", "profile", "email", "groups" ]

        [http.middlewares.oidc-auth.plugin.traefik-oidc-auth.Provider]
            Url = "https://auth.{{ traefik_root_domain }}"
            ClientId = "{{ pocketid_client_id }}"
            ClientSecret = "{{ pocketid_client_secret }}"

